$blue:#05B4DF;
$white:#fff;
$orange:#E8570C;
$brown: #2C1D0E;
$white-text: #ECEFF4;
$brown-text: #262626;
$pagination: #F2F2F2;
$body: #FFDEA9;
$tab-color: rgba(62, 45, 10, 0.1);
$red: #D52723;
$black: #000;
$grey: #B2B2B2;
$rules: #262626;
